<section class="bg-danger">
    <div class="container">
        <div class="row">
            <div class="col-auto">
                {% for link in linklists.footer.links -%}
                    {{ link.title | link_to: link.url }}
                {%- endfor %}
            </div>
            <div class="col-auto">
              <a href="{{ routes.root_url }}">
                <img src="{{ settings.logo | image_url }}" width="auto" height="auto">
              </a>
            </div>
        </div>
    </div>
</section>