<section>
    <div class="container">
        <div class="row justify-between">
            <div class="col-4">
                links
            </div>
            <div class="col-4">
                logo
            </div>
            <div class="col-4">
                cart
            </div>
        </div>
    </div>
</section>