<section>
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-auto">
                {% for link in linklists.main-menu.links -%}
                    {{ link.title | link_to: link.url }}
                {%- endfor %}
            </div>
            <div class="col-auto">
                <img src="{{ settings.logo | image_url }}" width="auto" height="auto">
            </div>
            <div class="col-auto">
              cart
            </div>
        </div>
    </div>
</section>