<section>
    <div class="container">
        <div class="row">
            {% for block in section.blocks %}
                <div class="{% if section.blocks.size < 2 %}col-12{% else %}col-6{% endif %} {% if forloop.index == 1 %}pr-0{% else %}pl-0{% endif %}">
                    <img src="{{ block.settings.image | image_url }}" alt="Banner" width="100%" height="auto">
                </div>
            {% endfor %}
        </div>
    </div>
</section>

<style>
    .pr-0 {
        padding-right: 0;
    }
    .pl-0 {
        padding-left: 0;
    }
</style>


{% schema %}
{
    "name": "Double Banner",
    "settings": [
    {
        "type": "text",
        "id": "textId",
        "label": "Text"
    }
    ],
    "max_blocks": 2,
    "blocks": [
    {
        "name": "Image",
        "type": "image",
        "settings": [
            {
                "type": "image_picker",
                "id": "image",
                "label": "Add image"
            }
        ]
    }
    ],
    "presets": [
    {
      "category": "text",
      "name": "Double Banner section"
    }
  ]
}
{% endschema %}