<section>
    <div class="container">
        <div class="row">
            {% unless section.block.size > 0 %}
                <div>
                    <img src="{{block.settings.first_image}}" alt="banner-first" width="auto" height="auto" class="{% if section.block.size <= 1 %} w-100 col-12{% endif %} col-6">
                </div>
                <div>
                    <img src="" alt="banner-second" width="auto" height="auto" class="col-6">
                </div>
            {% endunless %}
        </div>
    </div>
</section>


{%  schema  %}
{
    "name": "Double Banner",
    "settings": [
        {
            "type": "text",
            "label": "Text"
        }
    ],
    "max_blocks": 2,
    "blocks": [
    {
        "name": "First image",
        "settings": [
            {
                "type": "image_picker",
                "id": "first_image",
                "label": "Add first image"
            },
            {
                "type": "image_picker",
                "id": "second_image",
                "label": "Add second image"
            }
        ]
    }
    ],
    "presets": [
    {
      "category": "Banner",
      "name": "Double Banner section"
    }
  ]
}
{% endschema %}