<section>
    <div class="container">
        <div class="row">
            {% for block in section.blocks %}
            <div class="col-6">
                <img src="{{ block.settings.image | image_url }}" alt="Banner" width="auto" height="auto">
            </div>
            {% endfor %}
            {% for block in section.blocks %}
                Image URL: {{ block.settings.image | json }}
            {% endfor %}
        </div>
    </div>
</section>


{% schema %}
{
    "name": "Double Banner",
    "settings": [
    {
        "type": "text",
        "id": "textId",
        "label": "Text"
    }
    ],
    "max_blocks": 2,
    "blocks": [
    {
        "name": "Image",
        "type": "image",
        "settings": [
            {
                "type": "image_picker",
                "id": "image",
                "label": "Add image"
            }
        ]
    }
    ],
    "presets": [
    {
      "category": "text",
      "name": "Double Banner section"
    }
  ]
}
{% endschema %}