<section>
    <div class="container">
        <div class="row">
            <div>
                <img src="{{ blocks.settings.image | image_url }}" alt="banner-first" width="auto" height="auto" class="{% if section.block.size < 2 %} w-100 col-12{% endif %} col-6">
            </div>
            <div>
                <img src="{{ blocks.settings.image | image_url }}" alt="banner-second" width="auto" height="auto" class="col-6 w-100">
            </div>
        </div>
    </div>
</section>


{% schema %}
{
    "name": "Double Banner",
    "settings": [
    {
        "type": "text",
        "id": "textId",
        "label": "Text"
    }
    ],
    "max_blocks": 2,
    "blocks": [
    {
        "name": "Image",
        "type": "image",
        "settings": [
            {
                "type": "image_picker",
                "id": "image",
                "label": "Add image"
            }
        ]
    }
    ],
    "presets": [
    {
      "category": "text",
      "name": "Double Banner section"
    }
  ]
}
{% endschema %}