<style>
    .swiper {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  </style>

<section>
    <div class="swiper testimonial-slider">
    <div class="swiper-wrapper">
      {% for block in section.blocks %}
        <div class="swiper-slide">
          {{ block.settings.slide_content }}
        </div>
      {% endfor %}
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-pagination"></div>
  </div>
</section>

<script src="{{ 'testimonial-slider.js' | asset_url }}"></script>

{% schema %}
    {
        "name": "Testimonial Slider",
        "settings": [
            {
                "type": "text",
                "id": "section_heading",
                "label": "Title",
                "default": "The Welcome Box"
            }
        ],
        "blocks": [
            {
                "name": "Slide",
                "type": "slide",
                "settings": [
                    {
                        "type": "text",
                        "id": "slide_content",
                        "label": "Add Testimonial"
                    }
                ]
            }
        ],
        "presets": [
            {
                "category": "Content",
                "name": "Testimonial Slider"
            }
        ]
    }
{% endschema %}
