<section>
  {% unless section.settings.image == blank %}
    <img
      src="{{ section.settings.image | image_url: width: 1500 }}"
      width="1500"
      height="1500"
    >
  {% endunless %}
  <hr>
  {% if section.blocks.size > 0 %}
    {% for block in section.blocks %}
      <h2>H2 : {{ block.settings.text }}</h2>
    {% endfor %}
    <hr>
  {% endif %}
</section>

{% schema %}
{
  "name": "Three Box Images",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Add image"
    }
  ],
  "blocks": [
    {
      "type": "text",
      "name": "text",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "Text value"
        }
      ]
    }
  ],
  "presets": [
    {
      "category": "Content",
      "name": "Three Box Section"
    }
  ]
}
{% endschema %}
