<section>
  {% unless section.settings.image_one == blank %}
    <img
      src="{{ section.settings.image_one | image_url: width: 1500 }}"
      width="300"
      height="300"
    >
  {% endunless %}
  {% unless section.settings.image_two == blank %}
    <img
      src="{{ section.settings.image_two | image_url: width: 1500 }}"
      width="300"
      height="300"
    >
  {% endunless %}
  {% unless section.settings.image_three == blank %}
    <img
      src="{{ section.settings.image_three | image_url: width: 1500 }}"
      width="300"
      height="300"
    >
  {% endunless %}
  <hr>
  {% if section.blocks.size > 0 %}
    {% for block in section.blocks %}
      <h2>H2 : {{ block.settings.text }}</h2>
    {% endfor %}
    <hr>
  {% endif %}
</section>

{% schema %}
{
  "name": "Three Box Images",
  "settings": [
    {
      "type": "image_picker",
      "id": "image_one",
      "label": "Add first image"
    },
    {
      "type": "image_picker",
      "id": "image_two",
      "label": "Add second image"
    },
    {
      "type": "image_picker",
      "id": "image_three",
      "label": "Add third image"
    }
  ],
  "blocks": [
    {
      "type": "text",
      "name": "text",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "Text value"
        }
      ]
    }
  ],
  "presets": [
    {
      "category": "Content",
      "name": "Three Box Section"
    }
  ]
}
{% endschema %}
